node_modules/

# Android build artifacts
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/capacitor-cordova-android-plugins/build/
*.keystore
*.jks

# iOS build artifacts
ios/App/Pods/
ios/App/build/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/DerivedData/

# misc
.DS_Store
*.log
